# QOS EXTENSION CONFIGURATION

j.s.p.qos.enabled=true

j.s.p.qos.resources=cpu
j.s.p.qos.resource.cpu.capacity=6

j.s.p.qos.services=s1,s2

j.s.p.qos.service.s1.name.groups=io.ctrlconf.sentris.examples.qos.Driver.s1
j.s.p.qos.service.s1.timeout=1000
j.s.p.qos.service.s1.resources=cpu
j.s.p.qos.service.s1.resource.cpu.rate.limit=200
j.s.p.qos.service.s1.resource.cpu.rate.interval=1000

j.s.p.qos.service.s2.name.groups=io.ctrlconf.sentris.examples.qos.Driver.s2
j.s.p.qos.service.s2.timeout=1000
j.s.p.qos.service.s2.resources=cpu
j.s.p.qos.service.s2.resource.cpu.rate.limit=75
j.s.p.qos.service.s2.resource.cpu.rate.interval=1000

# MISC EXTENSION CONFIGURATION

j.s.p.hotspot.threshold=0
j.s.p.hotspot.threshold.inherent=0

j.s.p.console.enabled=false

j.s.p.stellar.enabled=true
j.s.p.stellar.window.pixel.ratio=5
j.s.p.stellar.metering=count
j.s.p.stellar.window.scale=5

#j.s.p.blink.enabled=true
#j.s.p.blink.spin.interval=1000
