# RESPONSE (TIME) VALVE EXTENSION CONFIGURATION

j.s.p.rvalve.enabled=true
j.s.p.rvalves=v
j.s.p.rvalve.v.name.groups=io.ctrlconf.sentris.examples.valves.Driver.call
j.s.p.rvalve.v.debug=true

# the min calls to be deemed a good sample
j.s.p.rvalve.v.min=20

# the time interval for a sample
j.s.p.rvalve.v.interval=2000

# the maximum time waited on the valve
j.s.p.rvalve.v.timeout=10000

# enables a fifo queue to front valve
j.s.p.rvalve.v.queue.fifo.enabled=true

# MISC EXTENSION CONFIGURATION

j.s.p.hotspot.threshold=0
j.s.p.hotspot.threshold.inherent=0

j.s.p.console.enabled=false

j.s.p.thematrix.enabled=true
j.s.p.thematrix.window.scale=5